/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://www.teahub.io/photos/full/26-263385_light-colour-background-images-hd-light-color-background.jpg');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.recipe h1 {
  font-size: 28px;
  margin-bottom: 10px;
  text-align: center;
}

.recipe img {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.recipe ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.recipe li {
  font-size: 16px;
  margin-bottom: 5px;
}

.recipe p {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}
 */






 /* slideshow*/

 body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:url('https://i.gifer.com/origin/1b/1beabbe0968eaf0069dcb2ec6c3af5d6_w200.gif') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img{
  height:500px;
  width:500px;
  margin-left: 300px;

}
