body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aqua;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button{
  background-color: #4CAF50;
  color: white;
  padding:10px;
  text-align: center;
  display: inline-block;
  font-size: 10px;
  border-radius: 20px;
  margin-top: 30px;
  margin-left: 30px;
  box-shadow: 0 12px 20px black;
}
button:hover{
  background-color: pink
}
form{
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 60px;
}
input[type=password]{
  margin-left: 15px;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 12px 20px black; 
  margin-bottom: 20px;
   
}
input[type=text]{
  margin-left: 15px;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 12px 20px black; 
  margin-bottom: 20px;
}