body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    /* background-color: skyblue; */
    background-image: url("C:\Users\chandvm\Downloads\184-1842460_flappy-bird-bird-png-transparent-png.png");
}