/* Global styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

a {
  color: #333;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 1rem;
}

button {
  background-color: #f44336;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.75rem 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e53935;
}

h1, h2, h3 {
  font-weight: normal;
  margin: 0;
}

/* Header styles */
header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

/* Banner styles */
.banner {
  background-image: url('https://wallpaperaccess.com/full/2358945.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  margin-top: 4rem;
  position: relative;
}

.banner h1 {
  color: #fff;
  font-size: 3rem;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color:aqua;
}

.banner button {
  background-color: #fff;
  border: none;
  border-radius: 4px;
  color: #f44336;
  font-size: 1.25rem;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}
.banner button:hover{
  background-color:green;
}

/* About section styles */
.about {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.about p {
  max-width: 600px;
  margin: 2rem auto 0;
}

.about button {
  background-color: #fff;
  border: 1px solid #f44336;
  color: #f44336;
  font-size: 1rem;
  padding: 0.75rem 1rem;
}

/* Work section styles */
.work {
  background-color: #f5f5f5;
  padding: 4rem 2rem;
}

.work h2 {
  text-align: center;
}

.work-item {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin: 2rem;
  padding: 2rem;
}

.work-item img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.work-item h3 {
  margin-top: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}

label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input,
textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.2rem;
  width: 50%;
  margin:0 auto;
}

button[type="submit"] {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #3c75d6;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left:550px;
}

button[type="submit"]:hover {
  background-color: greenyellow;
}
