body {
	padding: 100px;
	background-image: url('https://img.freepik.com/free-photo/grunge-paint-background_1409-1337.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.submit-area {
	border-radius: 10px;
	padding: 40px;
	box-shadow: 5px 5px 10px gray;
	margin-top: 50px;
}

#transaction-area {
	display: none;
}
.status{
    margin: 0 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.deposit {
	background-color: rgb(27, 192, 91);
}
.withdraw {
	background-color: rgb(214, 33, 145);
}
.balance {
	background-color: rgb(220, 32, 220);
}
table {
	margin-top: 10px;
  }
  
  table td:first-child {
	width: 100px;
  }
  #logout-button {
	background-color: red;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1em;
	margin-top: 20px;
  }
  
  #logout-button:hover {
	background-color: darkred;
  }
	